@media (max-width: 1170px) {
	.container {
		max-width: 970px;
	}

	.header_first_line_logo{
		width: 30%;
	}
}























@media (max-width: 992px) {
	.container {
		max-width: 750px;
	}

	.header_second_line_text_button{
		width: 100%;
	}

	.header_second_line_img{
		width: 100%;
	}

	.header_second_line_content{
		display: flex;
		flex-direction: column;
	}

	.header_nav ul{
		display: none;
	}

	.header_first_line_logo{
		width: 50%;
	}

	.header_first_line_nav{
		width: 50%;
		display: flex;
		justify-content: flex-end;
	}

	.header_first_line_button{
		display: none;
	}
	.header_nav img{
		display: block;
	}

	.animation_img{
		display: none;
	}

	.what_is_covid_Content{
		display: flex;
		flex-direction: column;
	}

	.what_is_covid_img{
		display: flex;
		order: 2;
		width: 100%;
	}

	.what_is_covid_text_button{
		display: flex;
		order: 1;
		width: 100%;
	}

	.contagion_content{
		display: flex;
		flex-direction: column;
	}

	.contagion_content_item{
		width: 70%;
		margin: 15px auto;
	}

	.contagion_text{
		width: 100%;
	}

	.contagion{
		background-image: none;
	}

	.symptomps_content_text{
		width: 100%;
	}

	.symptomps_content_img{
		width: 100%;
	}

	.what_should_we_do{
		background-image: none;
	}

	.what_should_we_do_Item1_img{
		display: none;
	}

	.what_should_we_do_Item1_text{
		width: 100%;
	}

	.what_should_we_do_Item2{
		margin: 30px 0;
	}

	.what_should_we_do_Item1_text{
		padding-left: 10px;
	}

	.live_report_content{
		display: flex;
		flex-direction: column;
	}

	.live_report_content_map{
		width: 100%;
	}

	.live_report_map_inner_item{
		height: 83px;
		width: 223px;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		padding: 0 20px;
	}

	.live_report_map_inner_item_staff{
		width: 20%;
	}

	.staff1 img{
		height: 50px;
	}

	.staff2{
		width: 10%;
	}

	.live_report_content_coutries{
		width: 100%;
		padding: 0;
	}

	.queston_content_search_form{
		width: 100%;
	}

	form input{
		margin: 0;
	}

}

























@media (max-width: 767px) {
	.container {
		max-width: none;
	}

	.header_first_line_logo_nav_button{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.header_first_line_logo{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.header_first_line_nav{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
	}

	.header_first_line_logo_img a img{
		height: 70px;
	}

	.header_first_line_logo_text h1 a{
		font-size: 20px;
	}

	.header_second_line{
		margin-top: 50px;
	}

	.header_second_line_text h3{
		text-align: center;
		font-size: 26px;
	}

	.header_second_line_text h2{
		text-align: center;
		font-size: 36px;
		margin-top: 5px;
		margin-bottom: 10px;
	}

	.header_second_line_text p{
		text-align: center;
		font-size: 16px;
		line-height: 23px;
	}

	.header_second_line_button{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 30px;
	}

	.header_second_line_button button{
		padding: 14px 32px;
		font-size: 18px;
		font-weight: 600;
	}

	.header_second_line_img{
		margin-top: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.what_is_covid_text_button h3{
		text-align: center;
		font-size: 26px;
	}

	.what_is_covid_text_button h2{
		text-align: center;
		font-size: 36px;
		margin-top: 5px;
		margin-bottom: 0px;
	}

	.what_is_covid_text_button p{
		text-align: center;
		font-size: 16px;
		line-height: 23px;
	}

	.what_is_covid_button{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 10px;
	}

	.what_is_covid_button button{
		padding: 14px 32px;
		font-size: 18px;
		font-weight: 600;
	}

	.what_is_covid{
		background-image: none;
	}

	.contagion_text h3{
		text-align: center;
		font-size: 26px;
	}

	.contagion_text h2{
		text-align: center;
		font-size: 36px;
		margin-top: 5px;
		margin-bottom: 0px;
	}

	.contagion_text p{
		text-align: center;
		font-size: 16px;
		line-height: 23px;
	}

	.contagion_content_item_text_title h2{
		text-align: center;
		font-size: 36px;
		margin-top: 5px;
		margin-bottom: 0px;
	}

	.contagion_content_item_text_subtitle p{
		text-align: center;
		font-size: 16px;
		line-height: 23px;
	}

	.contagion_content_item{
		margin: 15px auto;
	}

	.contagion{
		background-image: none;
	}

	.symptomps_content_text h3{
		text-align: center;
		font-size: 26px;
	}

	.symptomps_content_text h2{
		text-align: center;
		font-size: 36px;
		margin-top: 5px;
		margin-bottom: 0px;
	}

	.symptomps_content_text p{
		text-align: center;
		font-size: 16px;
		line-height: 23px;
	}

	.what_should_we_do_Item1_img{
		display: none;
	}

	.what_should_we_do_Item1_text{
		width: 100%;
	}

	.what_should_we_do{
		background-image: none;
	}

	.what_should_we_do_text{
		width: 100%;
		padding: 0 20px;
	}

	.what_should_we_do_text h3{
		text-align: center;
		font-size: 26px;
	}

	.what_should_we_do_text h2{
		text-align: center;
		font-size: 36px;
		margin-top: 5px;
		margin-bottom: 0px;
	}

	.what_should_we_do_text p{
		text-align: center;
		font-size: 16px;
		line-height: 23px;
	}

	.what_should_we_do_Item1_text_title_subtitle h2{
		font-size: 36px;
		margin-top: 5px;
		margin-bottom: 0px;
	}

	.what_should_we_do_Item1_text_title_subtitle p{
		font-size: 16px;
		line-height: 23px;
	}

	.what_should_we_do_Item1_text_number{
		width: 50px;
		height: 50px;
	}

	.what_should_we_do_Item1_text_number h4{
		font-size: 30px;
	}

	.what_should_we_do_Item1{
		margin: 30px 0;
	}

	.what_should_we_do_Item2{
		margin: 30px 0;
	}

	.what_should_we_do_Item1_text{
		padding-left: 10px;
	}

	.live_report_map_inner_item{
		height: 50px;
		width: 100px;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		padding: 0 20px;
		position: absolute;
		top: -44px;
		left: 8px;
	}

	.live_report_map_inner_item2{
		width: 10%;
		position: absolute;
		top: -43px;
		left: 86%;
	}

	.live_report_content_coutries_text h2{
		font-size: 36px;
		margin-top: 5px;
		margin-bottom: 0px;
	}

	.live_report_content_coutries_item_text p{
		font-size: 20px;
		margin-top: 5px;
		margin-bottom: 0px;
	}

	.live_report_content_coutries_item_text h3{
		font-size: 25px;
		margin-top: 5px;
		margin-bottom: 0px;
	}

	.live_report_content_coutries_item_text{
		margin-left: 10px;
	}

	.live_report_content_coutries_item:hover{
		transform: scale(1);
		transition: 1s;
		border: 1px solid #000;
	}

	.queston_content_text{
		width: 100%;
		margin: 0 auto;
	}

	.queston_content_text h2{
		font-size: 36px;
		margin-top: 5px;
		margin-bottom: 0px;
		line-height: 40px;
	}

	form{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.queston_content_search_form{
		border: 1px solid #fff;
	}

	form input{
		text-align: center;
		margin-bottom: 20px;
	}

	.footer_logo{
		display: none;
	}

	.footer_menu ul{
		display: flex;
		flex-direction: column;
	}

	.footer_menu ul li{
		margin: 10px 0;
	}

	.footer_logo_nav_socnet{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.footer_content_second_line p {
		font-size: 20px;
		margin-top: 5px;
		margin-bottom: 0px;
		text-align: center;
	}
}